{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script>
      //metodo encargado de añadir al formulario los grupos/perfiles que estan creados en la base de datos para que al nuevo usuario pueda asignarsele su perfil.
       $.getJSON("https://final-conectate-group4.herokuapp.com/usuario/getgroups").done(function(data) {
      //$.getJSON("http://localhost:8000/usuario/getgroups").done(function(data) {
              $.each(data, function(i,item) {
                $("#perfil").append(
            '<div class="checkbox">'+
            '<label for="id_perfiles_'+i+'"</label>'+
            '<input type="checkbox" name="perfiles" value="'+item.fields.name+'" tittle id="id_perfiles'+i+'" class>'+
            item.fields.name+'</label>'+
            '</div>'
                );
              });
            });
</script>
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
<br>
        <div class="page-header">
            <h2>Crear usuario</h2>
        </div>
        <div id="error" class="alert alert-danger" hidden>
        </div>
        <form id="formUsuario" method="post" action="https://final-conectate-group4.herokuapp.com/usuario/crearusuario" enctype="multipart/form-data"    >
            <label class="control-label">Nombre de usuario</label>
            <input id="username" name="username" type="text" placeholder="username" class="form-control input-md" required=""><br>
            <label class="control-label">Nombre</label>
            <input id="first_name" name="first_name" type="text" placeholder="first name" class="form-control input-md" required=""><br>
            <label class="control-label">Apellido</label>
            <input id="last_name" name="last_name" type="text" placeholder="last name" class="form-control input-md" required=""><br>
            <label class="control-label">Email</label>
            <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required=""><br>
            <label class="control-label">Perfil</label>
            <div id="perfil">
            </div>
            <label class="control-label">Contraseña</label>
            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required=""><br>
            <label class="control-label">Vuelve a escribir tu contraseña</label>
            <input id="password2" name="password2" type="password" placeholder="password2" class="form-control input-md" required=""><br>

            <input type="submit" value="Crear" class="btn btn-primary"/>
            <a href="" class="btn btn-secondary"/>Cancelar</a>
        </form>
    </div>
    <script>
    //metodo encargado de validar que la información del formulario sea correcta y de enviar la petición post para utilizar el servicio rest de crear usuario
    $('form').submit( function(e) {
        var domain= $("#email")[0].value.split("@")[1];
        if(domain!=="uniandes.edu.co")
        {
          $("#error").empty();
          $("#error").append("el email debe ser uniandes");
          $("#error").removeAttr("hidden");
          window.scrollTo(0,0);
          return false;
        }
        if($('#formUsuario input[type=checkbox]:checked').length==0)
        {
          $("#error").empty();
          $("#error").append("Debe escoger al menos un perfil");
          $("#error").removeAttr("hidden");
          window.scrollTo(0,0);
          return false;
        }
        if($('#formUsuario input[type=checkbox]:checked').length==0)
        {
          $("#error").empty();
          $("#error").append("Debe escoger al menos un perfil");
          $("#error").removeAttr("hidden");
          window.scrollTo(0,0);
          return false;
        }
        if($("#password")[0].value!==$("#password2")[0].value){
          $("#error").empty();
          $("#error").append("las contraseñas deben coincidir");
          $("#error").removeAttr("hidden");
          window.scrollTo(0,0);
          return false;
        }
        var formData= new FormData($("#formUsuario")[0]);
        console.log($("#formUsuario")[0] )
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function() {
                       //window.location = "https://quiet-peak-80751.herokuapp.com/polls";
                       alert("usuario creado");
                     },
            error: function(xhr, status, error) {
              var mensaje='';
              if(xhr.responseText.includes("Email ya existe"))
              {
                mensaje='Email ya existe';
              }
              else{
                mensaje='Nombre de usuario ya existe';
              }

              $("#error").empty();
              $("#error").append(mensaje);
              $("#error").removeAttr("hidden");
              window.scrollTo(0,0);
            }
        });
        e.preventDefault();
    });
    </script>
</div>


<br>
{% endblock %}
