{% extends "base.html" %}

{% block content %}
    <script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    (function () {
        if(getUrlParameter("page")){
            var request="/usuario/editarperfiles?page="+getUrlParameter("page");
        }
        else{
            var request="/usuario/editarperfiles?page=1";
        }
        $.get(request).done(function(data,textstatus, jqXHR) {
            if (jqXHR.getResponseHeader('previous') && jqXHR.getResponseHeader('next')) {
                $("#paginacion").prepend(
                    '<a href="' + jqXHR.getResponseHeader('previous') + '">Atrás</a>' +
                    '<span class="current">' +
                    ' Página ' + getUrlParameter("page") + ' de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>' +
                    '<a href="' + jqXHR.getResponseHeader('next') + '">Siguiente</a>'
                );
            }
            else if (jqXHR.getResponseHeader('previous')) {

                $("#paginacion").prepend(
                    '<a href="' + jqXHR.getResponseHeader('previous') + '">Atrás</a>' +
                    '<span class="current">' +
                    ' Página ' + getUrlParameter("page") + ' de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>'
                );
            }
            else if (jqXHR.getResponseHeader('next')) {
                $("#paginacion").prepend(
                    '<span class="current">' +
                    ' Página 1 de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>' +
                    '<a href="' + jqXHR.getResponseHeader('next') + '">Siguiente</a>'
                );
            }
            else {
                $("#paginacion").prepend(
                    '<span class="current">' +
                    ' Página ' + 1 + ' de 1. ' +
                    '</span>'
                );
            }

            $.each(JSON.parse(data), function(i, item) {
                var div = '<tr>'+
                            '<td>'+item.fields.first_name +' '+ item.fields.last_name + '</td>'+
                            '<td id="gu_'+item.pk+'"></td>'+
                            '<td>'+
                                '<select id="u_'+ item.pk +'">'+
                                '</select>'+
                            '</td>'+
                            '<td>'+
                                '<a href="" class="btn btn-primary" onclick="cambiar('+ item.pk +')">'+
                                    'Cambiar'+
                                '</a>'+
                            '</td>'+
                        '</tr>';

                $("#usuarios").append(div);
                $.getJSON("/usuario/grupo/"+item.pk).done(function(data1) {
                    $.each(data1, function (v, ite) {
                        var opt1 = ite.fields.name;
                        $('#gu_'+item.pk).append(opt1);
                    });
                });
                $.getJSON("/usuario/grupos").done(function(data1) {
                    $.each(data1, function (v, ite) {
                        var opt;
                        if (item.fields.groups[0] == ite.pk)
                            opt ='<option value="'+ite.pk+'" selected>'+ite.fields.name+'</option>';
                        else
                            opt ='<option value="'+ite.pk+'">'+ite.fields.name+'</option>';
                        $('#u_'+item.pk).append(opt);
                    });
                });
            });
        });

    })();
    </script>

    <h1>Editar Perfiles de Usuarios</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Perfil Actual</th>
                            <th colspan="2">Perfiles Disponibles</th>
                        </tr>
                    </thead>
                    <tbody id="usuarios">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pagination pagination-right">
        <span id="paginacion">

        </span>
    </div>
    <div style="padding-top: 3%;" align="center">
        <a href="{% url 'home' %}" class="btn btn-primary"><span
            class="glyphicon glyphicon-step-backward">Volver</span></a>
    </div>

<script>
function cambiar(id) {
    var usuario = id;
    var grupo = $('#u_'+usuario)[0].value;
    var url = "{% url 'cambiarGrupo' %}";
    var arr = {id:usuario,grupo:grupo};
    var data = JSON.stringify(arr);

    $.ajax({
        url:url,
        type: 'POST',
        data: {id:usuario, grupo:grupo},
        dataType: 'html'
    })
}
</script>
{% endblock %}