{% extends "base.html" %}

{% block content %}
    <script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    (function () {
        if(getUrlParameter("page")){
            var request="https://final-conectate-group4.herokuapp.com/usuario/editarperfiles?page="+getUrlParameter("page");
            //var request="http://localhost:8000/usuario/editarperfiles?page="+getUrlParameter("page");
        }
        else{
            var request="https://final-conectate-group4.herokuapp.com/usuario/editarperfiles?page=1";
            //var request="http://localhost:8000/usuario/editarperfiles?page=1";
        }
        $.get(request).done(function(data,textstatus, jqXHR) {
            if (jqXHR.getResponseHeader('previous') && jqXHR.getResponseHeader('next')) {
                $("#paginacion").prepend(
                    '<a href="' + jqXHR.getResponseHeader('previous') + '">Atrás</a>' +
                    '<span class="current">' +
                    ' Página ' + getUrlParameter("page") + ' de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>' +
                    '<a href="' + jqXHR.getResponseHeader('next') + '">Siguiente</a>'
                );
            }
            else if (jqXHR.getResponseHeader('previous')) {

                $("#paginacion").prepend(
                    '<a href="' + jqXHR.getResponseHeader('previous') + '">Atrás</a>' +
                    '<span class="current">' +
                    ' Página ' + getUrlParameter("page") + ' de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>'
                );
            }
            else if (jqXHR.getResponseHeader('next')) {
                $("#paginacion").prepend(
                    '<span class="current">' +
                    ' Página 1 de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>' +
                    '<a href="' + jqXHR.getResponseHeader('next') + '">Siguiente</a>'
                );
            }
            else {
                $("#paginacion").prepend(
                    '<span class="current">' +
                    ' Página ' + 1 + ' de 1. ' +
                    '</span>'
                );
            }

            $.each(JSON.parse(data), function(i, item) {
                var div = '<div class="col-md-3 col-sm-2 col-xs-12">'+
                        '<div class="panel panel-default">'+
                            '<div class="panel-heading" style="text-align: center; background-color: black;">'+
                                '<span style="color: white; font-size: large;">'+item.fields.first_name + item.fields.last_name + '</span>'+
                            '</div>'+
                            '<div class="panel-body" style="text-align: center">'+
                                '<span>Perfil: </span>'+
                                '<select id="u_'+ item.pk +'">'+
                                '</select><br><br>'+
                                '<a href="" class="btn btn-primary" onclick="cambiar('+ item.pk +')">'+
                                    '<span>Cambiar</span>'+
                                '</a>'+
                            '</div>'+
                        '</div>';
                $("#usuarios").append(div);
                $.getJSON("https://final-conectate-group4.herokuapp.com/usuario/grupos").done(function(data1) {
                //$.getJSON("http://localhost:8000/usuario/grupos").done(function(data1) {
                    $.each(data1, function (v, ite) {
                        var opt;
                        if (item.fields.grupos[0] == ite.pk)
                            opt ='<option value="'+ite.pk+'" selected>'+ite.fields.name+'</option>';
                        else
                            opt ='<option value="'+ite.pk+'">'+ite.fields.name+'</option>';
                        $('#u_'+item.pk).append(opt);
                    });
                });
            });
        });

    })();
    </script>

    <h1>Editar Perfiles de Usuarios</h1>
    <div id="usuarios" class="row">

    </div>
    <div class="pagination pagination-right">
        <span id="paginacion">

        </span>
    </div>
    <div style="padding-top: 3%;" align="center">
        <a href="/" class="btn btn-primary"><span
            class="glyphicon glyphicon-step-backward">Volver</span></a>
    </div>

<script>
function cambiar(id) {
    var usuario = id;
    var grupo = $('#u_'+usuario)[0].value;
    var url = "https://final-conectate-group4.herokuapp.com/usuario/cambiagrupo/";
    //var url = "http://localhost:8000/usuario/cambiagrupo/";
    var arr = {id:usuario,grupo:grupo};
    var data = JSON.stringify(arr);
        //"editusers/cambiaGrupo/"+usuario+"/"+grupo;

    $.ajax({
        url:url,
        type: 'POST',
        data: {id:usuario, grupo:grupo},
        dataType: 'html'
    })
}
</script>
{% endblock %}
{% comment %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
{% endcomment %}
