{% extends "base.html" %}

{% block content %}
    <h1>Editar Perfiles de Usuarios</h1>
    {% if user_list %}
        <div id="usuarios" class="row">
        {% for user in user_pag %}
            <div class="col-md-2 col-sm-1 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color: black;">
                        <span style="color: white; font-size: large;">{{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                    <div class="panel-body" style="text-align: center">
                    <form method="post" >
                    {% csrf_token %}
                        <span>Perfil</span>
                        <select id="u_{{ user.id }}">
                            {% for grupo in grupos %}
                                <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                            {% endfor %}
                        </select><br><br>
                        <a href="#" class="btn btn-primary" onclick="cambiar({{ user.id }})">
                            <span>Cambiar</span>
                        </a>
                    </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="pagination pagination-right">
            <ul class="pagination">
                <li>
                    {% if paginator.has_prev %}
                        <a href="/editarperfiles/?page={{ paginator.firstPage }}"> << </a>
                        <a href="/editarperfiles/?page={{ paginator.prev_page }}"> < </a>
                    {% else %}
                        <a style="color:gray; cursor:not-allowed"> << </a>
                        <a style="color:gray; cursor:not-allowed"> < </a>
                    {% endif %}
                    {% if paginator.has_next %}
                        <a href="/editarperfiles/?page={{ paginator.next_page }}"> > </a>
                        <a href="/editarperfiles/?page={{ paginator.pages }}"> >> </a>
                    {% else %}
                        <a style="color:gray; cursor:not-allowed"> > </a>
                        <a style="color:gray; cursor:not-allowed"> >> </a>
                    {% endif %}
                </li>
                <p>Página <{{paginator.page}} de {{paginator.pages}}> </p>
            </ul>
        </div>
        <div style="padding-top: 3%;" align="center">
            <a href="/" class="btn btn-primary"><span
                class="glyphicon glyphicon-step-backward">Volver</span></a>
        </div>

    {% else %}
        <p>No se encuentra usuarios registrados.</p>
         <div style="padding-top: 3%;" align="center">
        <a href="/" class="btn btn-primary"><span
                class="glyphicon glyphicon-step-backward">Volver</span></a>
        </div>
    {% endif %}
<script>
function cambiar(id) {
    var usuario = id;
    var grupo = $('#u_'+usuario)[0].value;
    var url = "http://localhost:8000/usuario/cambiagrupo/";
    var arr = {id:usuario,grupo:grupo};
    var data = JSON.stringify(arr);
        //"editusers/cambiaGrupo/"+usuario+"/"+grupo;

    $.ajax({
        url:url,
        type: 'POST',
        data: {id:usuario, grupo:grupo},
        dataType: 'html'
    })
}
</script>
{% endblock %}
{% comment %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
{% endcomment %}
