<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="container" class="row">
    <div class="col-md-4 col-sm-offset-4">
        <div class="page-header">
            <br>
            <h2>Login</h2>
        </div>
        <div id="error" class="alert alert-danger" hidden>
        </div>
        <form id="formUsuario" method="post" action="https://final-conectate-group4.herokuapp.com/usuario/login">

            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" value="">
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control" value="">
            </div>
            <div style="padding-top: 3%;">
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="" class="btn btn-secondary"/>Cancelar</a>
            </div>
        </form>
    </div>
</div>
<script>
$('form').submit( function(e) {


        if($("#email")[0].value==''){
          $("#error").empty();
          $("#error").append("el email no debe estar vacio");
          $("#error").removeAttr("hidden");
          return false;
        }
        var domain= $("#email")[0].value.split("@")[1];
        if(domain!=="uniandes.edu.co")
        {
          $("#error").empty();
          $("#error").append("el email debe ser uniandes");
          $("#error").removeAttr("hidden");
          return false;
        }

       var formData= new FormData($("#formUsuario")[0]);
       $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function() {
                       alert("login success");
                     },
            error: function(xhr, status, error) {

              $("#error").empty();
              $("#error").append("Nombre de usuario o clave no valido");
              $("#error").removeAttr("hidden");
              window.scrollTo(0,0);
            }
       });
        e.preventDefault();

    });
</script>

</body>
</html>
