{% extends "base.html" %}

{% block content %}

<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    (function () {
        if(getUrlParameter("page")){
            var request="/usuario/usuarioherramienta?page="+getUrlParameter("page");
        }
        else{
            var request="/usuario/usuarioherramienta?page=1";
        }
        $.get(request).done(function(data,textstatus, jqXHR) {
            if (jqXHR.getResponseHeader('previous') && jqXHR.getResponseHeader('next')) {
                $("#paginacion").prepend(
                    '<a href="' + jqXHR.getResponseHeader('previous') + '">Atrás</a>' +
                    '<span class="current">' +
                    ' Página ' + getUrlParameter("page") + ' de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>' +
                    '<a href="' + jqXHR.getResponseHeader('next') + '">Siguiente</a>'
                );
            }
            else if (jqXHR.getResponseHeader('previous')) {

                $("#paginacion").prepend(
                    '<a href="' + jqXHR.getResponseHeader('previous') + '">Atrás</a>' +
                    '<span class="current">' +
                    ' Página ' + getUrlParameter("page") + ' de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>'
                );
            }
            else if (jqXHR.getResponseHeader('next')) {
                $("#paginacion").prepend(
                    '<span class="current">' +
                    ' Página 1 de ' + jqXHR.getResponseHeader('numpages') + '. ' +
                    '</span>' +
                    '<a href="' + jqXHR.getResponseHeader('next') + '">Siguiente</a>'
                );
            }
            else {
                $("#paginacion").prepend(
                    '<span class="current">' +
                    ' Página ' + 1 + ' de 1. ' +
                    '</span>'
                );
            }
            $.each(JSON.parse(data), function(i, item) {
                var div ='<div class="col-lg-6 card h-100 py-2">'+
                        '<div class="panel panel-default">'+
                            '<div class="panel-heading" style="text-align: center; background-color: black;">'+
                                '<span style="color: white; font-size: large;">'+item.fields.first_name +' '+ item.fields.last_name + '</span>'+
                            '</div>'+
                            '<div class="panel-body" style="text-align: center">'+
                                '<span>Proyectos</span><br>'+
                                '<table id="pu_'+item.pk+'" style="width:100%">'+
                                '</table><br>'+
                                '<span>Herramientas Creadas</span><br>'+
                                '<table id="u_'+item.pk+'" style="width:100%">'+
                                '</table><br>'+
                                '<span>Herramientas Editadas</span><br>'+
                                '<table id="eu_'+item.pk+'" style="width:100%">'+
                                '</table>'+
                            '</div>'+
                        '</div>'+
                    '</div>';
                $("#usuarios").append(div);
                $.getJSON("/usuario/usuarioherramientas/"+item.pk).done(function(data1) {
                    $("#u_"+item.pk).append('<tr>'+
                                        '<th>Herramienta</th>'+
                                        '<th>Estado</th>'+
                                        '<th>Fecha Creacion</th>'+
                                    '</tr>');
                    $.each(data1, function(c,ite) {
                        var div = '<tr>'+
                                    '<td>'+ite.fields.nombre +'</td>';
                        var estado = parseInt(ite.fields.estado);
                        switch (estado)
                        {
                            case 0:
                                div += '<td>Borrador</td>';
                                break;
                            case 1:
                                div += '<td>Revisión</td>';
                                break;
                            case 2:
                                div += '<td>Publica</td>';
                                break;
                        }
                        div += '<td>'+ite.fields.creacion+'</td>'+
                                '</tr>';
                        $("#u_"+item.pk).append(div);
                    });
                });
                $.getJSON("/usuario/edicionherramientas/"+item.pk).done(function(data2) {
                    $("#eu_"+item.pk).append('<tr>'+
                                        '<th>Herramienta</th>'+
                                        '<th>Detalle</th>'+
                                        '<th>Fecha</th>'+
                                    '</tr>');
                    $.each(data2, function(d,iten) {
                        $("#eu_"+item.pk).append(
                            '<tr>'+
                                '<td>'+iten.fields.nombre +'</td>'+
                                '<td>'+iten.fields.observacion +'</td>'+
                                '<td>'+iten.fields.creacion+'</td>'+
                            '</tr>'
                        );
                    });
                });
                $.get("/usuario/usuarioproyectos/"+item.pk).done(function(data3,textstatus1, jqXHR1) {
                    var div = '<tr>';
                    if (data3 == "" || data3 == "null" || data3 == "None")
                        div += '<td>Sin Proyectos</td>';
                    else
                        div += '<td>'+data3+'</td>';
                    div += '</tr>';
                    $("#pu_"+item.pk).append(div);

                });

            });
        });
    })();

</script>

    <h1>Herramientas Trabajadas por MiembrosGTI </h1>
    <div id="usuarios" class="row">

    </div>
    <div class="pagination pagination-right">
        <span id="paginacion">

        </span>
    </div>
    <div style="padding-top: 3%;" align="center">
        <a href="{% url 'home' %}" class="btn btn-primary"><span
            class="glyphicon glyphicon-step-backward">Volver</span></a>
    </div>


{% endblock %}