{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="control-group" style="padding-bottom: 10px">
                <a class="btn btn-primary col-sm-12 col-md-2" href="{% url 'ediciones-v' %}" >Agregar Revision</a>
            </div>
             <table class=" table table-striped">
                <thead>
                    <tr>
                        <th>
                            Editor
                        </th>
                        <th>
                            Fecha revisión
                        </th>
                        <th>
                            Herramienta
                        </th>
                        <th>
                            Descripción
                        </th>

                        <th>
                            Estado de revisión
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for revision in revisiones %}
                        <tr>
                            <td>
                                {{ revision.usuarioHerramienta.username }}
                            </td>
                            <td>
                                {{ revision.creacion }}
                            </td>
                            <td>
                                <a href="{% url 'tool_detail' revision.herramienta.id %}" >{{ revision.herramienta }}</a>
                            </td>
                            <td>
                                {{ revision.descripcion }}
                            </td>
                            <td>
                                {{ revision.revision}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
             {% if revisiones.has_other_pages %}
              <ul class="pagination">
                {% if revisiones.has_previous %}
                  <li><a href="{% url 'ediciones' %}?page={{ revisiones.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in revisiones.paginator.page_range %}
                  {% if revisiones.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="{% url 'ediciones' %}?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if revisiones.has_next %}
                  <li><a href="{% url 'ediciones' %}?page={{ revisiones.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}