{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="control-group" style="padding-bottom: 10px">
                <a class="btn btn-primary" href="{% url 'herramienta-v' %}">Agregar Herramienta</a>
            </div>
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Accion
                        </th>
                        <th>
                            Owner
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for herramienta in herramientas %}
                        <tr>
                            {% if request.user|has_group:"Administrador" %}
                                <a href="{% url 'herramienta-edit' id=herramienta.id %}" >Editar</a><br>
                                <a id="del_{{ herramienta.id }}" href="#" onclick="validate({{ herramienta.id }},'{{ herramienta.nombre }}')" >Eliminar</a>
                            {% endif %}
                            </td>
                            <td>
                                {{ herramienta.owner }}
                            </td>
                            <td>
                                <a href="{% url 'tool_detail' herramienta.id %}"> {{ herramienta.nombre }}</a>
                            </td>
                            <td>
                                {{ herramienta.descripcion }}
                            </td>
                            <td>
                                {% if herramienta.estado == 0 %}
                                    Borrador
                                {% elif herramienta.estado == 1 %}
                                    Revisión
                                {% else %}
                                    Publica
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
             {% if herramientas.has_other_pages %}
              <ul class="pagination">
                {% if herramientas.has_previous %}
                  <li><a href="{% url 'herramientas' %}?page={{ herramientas.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in herramientas.paginator.page_range %}
                  {% if herramientas.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="{% url 'herramientas' %}?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if herramientas.has_next %}
                  <li><a href="{% url 'herramientas' %}?page={{ herramientas.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
    </div>
</div>
<script>
function validate(idDel, nombre) {
    if(confirm("Esta seguro de eliminar la herramienta " + nombre)){
        var url = "/herramientas/herramienta/delete/"+idDel;
        $.ajax({
            url:url,
            type: 'DELETE',
            dataType: 'html',
            success:function(data, textStatus, jqXHR) {
                var info = JSON.parse(data);
                var div = '<div id="id_success" class="MyAlert-bottom alert alert-success alert-dismissible fixed-bottom" role="alert" style="width: 300px">';
                div += info.mensaje;
                div +='</div>';
                $("#messages").prepend(div);
                //window.location.reload();
                location.reload()
            }
        })
    }
}
</script>
{% endblock %}