{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
        <h1>Reporte de Herramientas</h1>
            <div class="col-sm-30">
                <table id="reporteHerramienta" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Herramienta</th>
                            <th>Fecha Ingreso</th>
                            <th>Ultima Modificación</th>
                            <th>Autor</th>
                            <th>Cantidad Ediciones</th>
                            <th>Cantidad Ejemplos</th>
                            <th>Cantidad Tutoriales</th>
                        </tr>
                    </thead>
                    <tbody id="herramientas">
                    {% for obj in lista %}
                        <tr>
                            <td>{{ obj.herramienta }}</td>
                            <td>{{ obj.creado }}</td>
                            <td>{{ obj.edicion }}</td>
                            <td>{{ obj.usuario }}</td>
                            <td align="center"><a href="#" onclick="ListaEdiciones({{ obj.herramientaid }})">{{ obj.ediciones }}</a></td>
                            <td align="center"><a href="" onclick="ListaEjemplos({{ obj.herramientaid }})">{{ obj.ejemplos }}</a></td>
                            <td align="center"><a href="" onclick="ListaTutorial({{ obj.herramientaid }})">{{ obj.tutoriales }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="pagination pagination-right">
                <span id="paginacion">
                {% if herramientas.has_other_pages %}
                    <ul class="pagination">
                    {% if herramientas.has_previous %}
                      <li><a href="{% url 'reporteHerramientas' %}?page={{ herramientas.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in herramientas.paginator.page_range %}
                      {% if herramientas.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="{% url 'reporteHerramientas' %}?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if herramientas.has_next %}
                      <li><a href="{% url 'reporteHerramientas' %}?page={{ herramientas.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                    </ul>
                {% endif %}
                </span>
            </div>
        </div>
        <div style="padding-top: 3%;" align="center">
            <a href="{% url 'home' %}" class="btn btn-primary"><span
                class="glyphicon glyphicon-step-backward">Volver</span></a>
        </div>
    </div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ediciones de la herramienta</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">

          <table class="table table-striped" id="tabla_ediciones">
              <thead>
              <tr>
                  <td>Fecha</td>
                  <td>Autor</td>
              </tr>
              </thead>
              <tbody>

              </tbody>

          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript" src="{% static 'herramienta/js/reporte_herramienta.js' %}"></script>
{% endblock %}