{% extends "base.html" %}
{% block content %}
<h1>Reporte de Herramientas</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table id="reporteHerramienta" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Herramienta</th>
                            <th>Fecha Ingreso</th>
                            <th>Fecha Ultima Modificación</th>
                            <th>Autor</th>
                            <th>Cantidad Ediciones</th>
                            <th>Cantidad Ejemplo</th>
                            <th>Cantidad Tutoriales</th>
                        </tr>
                    </thead>
                    <tbody id="herramientas">
                    {% for obj in lista %}
                        <tr>
                            <td align="center">{{ obj.herramienta }}</td>
                            <td align="center">{{ obj.creado }}</td>
                            <td align="center">{{ obj.edicion }}</td>
                            <td align="center">{{ obj.usuario }}</td>
                            <td align="center"><a href="" onclick="ListaEdiciones({{ obj.herramientaid }})">{{ obj.ediciones }}</a></td>
                            <td align="center"><a href="" onclick="ListaEjemplos({{ obj.herramientaid }})">{{ obj.ejemplos }}</a></td>
                            <td align="center"><a href="" onclick="ListaTutorial({{ obj.herramientaid }})">{{ obj.tutoriales }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pagination pagination-right">
        <span id="paginacion">

        </span>
    </div>
<script>
function ListaEdiciones(id) {

}

function ListaEjemplos(id) {

}

function ListaTutorial(id) {

}
</script>
{% endblock %}