{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}

{% block content %}


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ herramienta.nombre }}</h1>

            <!-- Author -->
            <p class="lead">
                Estado:
                <a>{% if herramienta.estado == 0 %} Borrador {% elif herramienta.estado == 1 %} Revisión {% else %} Público  {% endif %}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Versión: {{ herramienta.version }}</p>

            <hr>

            <!-- Post Content -->
            <h3>Descripción</h3>
            <p class="lead"> {{ herramienta.descripcion }}</p>

            <h3>Licencia</h3>
            <p class="lead">{{ herramienta.licencia }}</p>

            <h3>Documentación</h3>
            <p class="lead">{{ herramienta.documentacion }}</p>
            <h3>Enlaces</h3>
            <p class="lead">{{ herramienta.enlaces }}</p>

            <h3>Descarga</h3>
            <p class="lead">{{ herramienta.descarga_url }}</p>

            <hr>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            {% if request.user|has_group:"MiembroGTI" or request.user|has_group:"Administrador"  %}
                <div class="text-center">
                {% if herramienta.estado == 0 and herramienta.owner.username == request.user.username %}
                    <a href="{% url 'herramienta-edit' herramienta.id %}" class="btn btn-secondary" role="button">Editar</a>
                    <a href="{% url 'edit_state' herramienta.id%}" class="btn btn-secondary" role="button">Solicitar Revisión de Pares</a>
                {% elif herramienta.estado == 1 %}
                    <a href="{% url 'edit_state' herramienta.id %}" class="btn btn-secondary" role="button">Comenzar Edición</a>
                    {% if not request.user|is_herramienta_owner:herramienta %}
                        {% if not request.user|is_herramienta_posted_by_user:herramienta %}  <!-- Si no ha marcado esta herramienta como lista para publicar -->
                            <a id="postular_a_publicacion" href="{% url 'add_herramienta_por_revision' herramienta.id %}" class="btn btn-secondary" role="button">Postular a Publicación</a>
                        {% else %}
                            <button id="postulacion_enviada" type="button" class="btn btn-success" disabled>Postulación Enviada</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Usos de la Herramienta</h5>
            <div class="card-body">
              {{ herramienta.usos }}
            </div>
          </div>

            <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Sistema Operativo</h5>
            <div class="card-body">
              {{ herramienta.sistema_operativo }}
            </div>
          </div>

              <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Información</h5>
            <div class="card-body">
              {{ herramienta.informacion }}
            </div>
          </div>

            <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Integración IMS</h5>
            <div class="card-body">
              {{ herramienta.integracion_lms }}
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}