{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}

{% block content %}


<!-- Page Content -->
<div class="container">

    <div class="row">

        {% for currentHerramienta in lista_herramientas %}
            <div class="col-sm-4 py-2">
              <div class="card" style="height: 235px;">
                  <div id="herramienta_{{ currentHerramienta.id }}_nombre" class="card-header text-center"><a href="{% url 'tool_detail' currentHerramienta.id %}"> {{ currentHerramienta.nombre }}</a></div>
                  <div class="card-body" >
                    <h6>{{ currentHerramienta.tipo }}</h6>
                    <hr />
                    <p class="card-text">{{ currentHerramienta.descripcion|slice:"160" }}{% if currentHerramienta.descripcion|length > 160 %}...{% endif %}</p>
                  </div>
              </div>
            </div>
        {% endfor %}

    </div>
    <!-- /.row -->

    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    </div>

</div>
<!-- /.container -->

{% endblock %}